<ion-view title = "List of classes" >
  <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-checkmark" ng-click="saveBlock()">
        </button>
  </ion-nav-buttons>
  <ion-content scroll = "false">


     <div class = "list">
    
      <div class = "item" ng-click="selectSemester()">
       {{semester.name}}
      </div>
     </div>

    
     <div ng-show = "listClass.length > 0"class = "item item-divider"> Your list</div>

     <div class = "list" ng-repeat = "each in listClass">
       <div class = "item item-icon-right ">
         <i class = "icon ion-ios-trash" ng-click = "remove(each)"> </i>

      <h2> {{each.department | uppercase}} {{each.class | uppercase}} </h2>

     </div>

     </div>
     <div  ng-show = 'semester.name != "Select semester"' class = "item item-icon-right">
         Add a class
         <i class = "icon ion-plus" ng-click = "add()"></i>
       </div>

     <!-- <button class = "button button-block button-generate button-dark" ng-click = "generate()"> Generate Schedule </button> -->
  </ion-content>
</ion-view>

