<ion-view title = "List of classes" >
  
  <ion-content scroll = "false">

     <button class="button button-clear button-dark button-block" modal-select ng-model="semester" options="semesterData" modal-title="Select Semester" ng-change = "setSemester(semester)">
    {{semester}}
    <div class="option">
        {{option}}
    </div>
    </button>

  
     <div class = "list" ng-repeat = "each in listClass">
       <div class = "item item-icon-right ">
         <i class = "icon ion-ios-trash icon-assertive button-clear button-assertive" ng-click = "remove(each)"> </i>

      <h2> {{each.course_id }} </h2>
       <p> {{each.course_title }} </p>

     </div>

     </div>



     <button ng-show = "ready" class="button button-royal button-block" modal-select ng-model="course" options="courses"  has-search="true" modal-title="Select Class" on-select = "addClass(course)">
     Add a class 
    <div class="option">
        {{option.course_id}} {{option.course_title}}
    </div>
    </button>






  </ion-content>
</ion-view>

