<ion-modal-view ng-controller = "courseListCtrl">


  <ion-header-bar class="bar-royal">
    <h1 class="title"> Your Cart</h1>
    <div class="button button-clear" ng-click="modal2.hide();save();test();"><span class="icon ion-checkmark"></span></div>
  </ion-header-bar>

	<ion-content>


     <ion-list ng-repeat = "each in courses">
      <ion-item>

         <item="item" class="checkbox-royal">
        <label class="checkbox">
        <input type="checkbox"  ng-checked = "each.checked" ng-model = 'each.checked'>
        </label>

         {{each.course_id}} 
        {{each.course_title}}
        <ion-item>

     </ion-list>

    

	</ion-content>
</ion-modal-view>

