<ion-view title = "My Dashboard">
  <ion-content class = "scroll-content dashboad-body"padding = "true">
    <div class="row" padding = "true">
      <div class="custom-card col col-50">
            <i class = "icon ion-home custom-icon "> </i>
            <h3> MY SCHEDULE </h3>

        </div>
        <div class="custom-card col col-50">
            <i class="custom-icon icon ion-ios-calendar-outline" width="100%" /></i>
            <h3> MY SCHEDULE </h3>

        </div>

    </div>

    <div class="row">
      <div class="custom-card col col-50">
        <i class = "icon ion-gear-a custom-icon "> </i>
        <h3> SETTINGS </h3>

        </div>
        <div class="custom-card col col-50">

          <i class = "icon  ion-search custom-icon "> </i>
          <h3> MAKE SCHEDULE </h3>


        </div>

    </div>
  </ion-content>
</ion-view>
