<ion-view title = "My Dashboard">
    <ion-content class = "scroll-content dashboad-body" padding = "true">
    <div class="row" padding = "true">
      <div class="custom-card top-card col col-50">
            <i class = "icon ion-ios-home-outline custom-icon dark " ui-sref = "main.dashboard"> </i>
            <h4 class = 'dark'> Home </h4>

        </div>
        <div class="custom-card top-card col col-50" ui-sref = "main.my-schedule">
            <i class="custom-icon icon ion-ios-calendar-outline dark" width="100%" /></i>
            <h4 class = 'dark'> My Schedule </h4>

        </div>

    </div>

    <div class="row">
      <div class="custom-card col col-50" ui-sref = "main.home">
        <i class = "icon ion-ios-gear-outline custom-icon dark"> </i>
        <h4 class = 'dark'> Settings </h4>

        </div>

        <div class="custom-card col col-50" ui-sref = "#">
          <i class = "icon ion-ios-book-outline custom-icon dark"> </i>
          <h4 class = 'dark'> Course Catalog </h4>

          </div>



    </div>
    <div class="row">
      <div class="custom-card col col-50">

        <i ui-sref = "main.course-list"class = "icon  ion-ios-paper-outline custom-icon dark  "> </i>
        <h4 class = 'dark'> Course List </h4>


      </div>

      <div class = "custom-card col col-50">
        <i ui-sref = "main.generate-schedule" class = "ion-arrow-graph-down-right custom-icon dark"></i>
        <h4 class = 'dark'> Generate </h4>
      </div>

    </div>
  </ion-content>
</ion-view>
