<ion-view title = 'Settings'>
	<ion-content ng-controller="HomeCtrl">
		<div class = "list">

			<div class = "item item-divider"> Account </div>
			   <a class = "item item-icon-left" ng-click = "">
			      <i class = "icon ion-trash-a"></i>
						 Delete Account
				</a>


				 <a class = "item item-icon-left" ng-click="logout()">
					<i class = "icon ion-refresh" ></i>
					Log Out
				</a>
			<div class = "item item-divider"> App Settings</div>
			   
					<a class = "item item-icon-left" ui-sref = "main.block-time-index">
						<i class = "icon ion-edit"></i>
						Time settings
					</a>

					<a class = "item item-icon-left"ng-click = "fetch()">
						<i class = "icon ion-refresh" ></i>
						Load stuffs
					</a>



		</div>

	</ion-content>
</ion-view>
