<ion-view title = 'Settings'>
	<ion-content scroll = "false">
		<div class = "list">

			<div class = "item item-divider"> Account </div>
			   <a class = "item item-icon-left" ng-click = "">
			      <i class = "icon ion-trash-a"></i>
						 Delete Account
					</a>
			<div class = "item item-divider"> App Settings</div>
			    <a class = "item item-icon-left" ui-sref = "login" ng-click = "">
						<i class = "icon ion-refresh"></i>
						Clear All Data
					</a>
					<a class = "item item-icon-left" ui-sref = "main.block-time-index">
						<i class = "icon ion-edit"></i>
						Time settings
					</a>


		</div>

	</ion-content>
</ion-view>
