<ion-side-menus cache-view="false" >
	<ion-side-menu-content>
		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar  style="background-color: #59313c ">
			<h1 class="title light">Menu</h1>
		</ion-header-bar>
		<ion-content style="background-color: #59313c; padding-top: 60px">
			<ion-list>
				<ion-item class = "item item-icon-left light" nav-clear menu-close ui-sref="main.home">
					 <i class="icon ion-gear-a "></i>
					 <h2> Settings  </h2>
				</ion-item>

				<ion-item class = "item item-icon-left light"  nav-clear menu-close ui-sref="main.dashboard">
					<i class="icon  ion-map"></i>
					<h2>Dashboard</h2>
				</ion-item>


				<ion-item nav-positive class = "item item-icon-left light" menu-close ui-sref="main.my-schedule">
				<i class = "icon ion-ios-cart"></i>
         		 <h2>My Cart</h2>
				</ion-item>


			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>
