<div class = "list">
  
  <label class="item item-input item-floating-label">
      <span class="input-label">Department</span>
      <input type="search" placeholder="Department name" ng-click = 'change()' ng-change = "searchDepartment()" ng-model = "data.dept">
  </label>

  <div class = "list">
    <li class="item" ng-repeat="dept in data.resultDept | limitTo: 3">
      {{dept}}
    </li>
  </div>

  <label class="item item-input item-floating-label">
      <span class="input-label">Class</span>
      <input type="text" placeholder="Course" ng-click = 'change()' ng-change = "searchCourse()" ng-model = "data.course">
  </label>

  <li class="item" ng-repeat="course in data.resultCourse | limitTo: 3">
    {{course}}
  </li>


</div>
