<ion-view-modal ng-model="editBlockTimeCtrl">

	<ion-header-bar class="bar-assertive">

		<h1 class = "title"> Detected time conflicts </h1> 
		 <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
		 <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-check"></span></div>
	</ion-header-bar>

	
	<ion-content>

	    <div class="list">
	    
		    <button class="button button-assertive button-clear button-outline button-block" modal-select ng-model="block.name" options="optionList" modal-title="Select Block" ng-change = "setSemester(semester)">
		    {{block.name}}
		    <div class="option">
		        {{option}}
		    </div>
		    </button>

		   <label class="item item-input item-floating-label">
		   		<label class = "input label"> From </label>
		    	<input placeholder = "From" type='time' ng-model = 'block.startT'>

		    	</input>
		   </label>

		    <label class="item item-input item-floating-label">
		   		<label class = "input label"> From </label>
		    	<input placeholder = "From" type='time' ng-model = 'block.endT'>

		    	</input>
		   </label>

		</div>
	        <div class = "list">
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Mo">
		        	</label>
		        	Monday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Tu">
		        	</label>
		        	Tuesday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.We">
		        	</label>
		        	Wednesday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Th">
		        	</label>
		        	Thursday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Fr">
		        	</label>
		        	Friday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Sa">
		        	</label>
		        	Saturday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Su">
		        	</label>
		        	Sunday
	        	</li>

	        </div>
	</ion-content>
</ion-modal-view>
