<ion-modal-view>
	<ion-header-bar class="bar-assertive">

		<h1 class = "title"> Detected time conflicts </h1> 
		 <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
	</ion-header-bar>

	<ion-content ng-controller="conflictMessageCtrl">

		
		<button class ="button button-assertive button-block button-clear" ng-click = "click()"> Show conflicts</button> 
	<ion-list ng-repeat="schedule in data">
    	<li class = "item" href = "#">
    		<h2>{{schedule['name']}}</h2>
 	 		<h2> {{schedule['instructor']}} </h2>
    		 <p> {{schedule['section_type']}} {{schedule['section_id']}} </p>
    		 <p> {{schedule['dates'].toString()}}
    		 <p> From {{schedule['start_time']}} To {{schedule['end_time']}}</p>
    	</li>
   	 </ion-list>



	</ion-content>

</ion-modal-view>