<ion-view title = "List of classes" >

	<ion-content scroll = "false">


     <div class = "list">
      <div class = "item item-icon-right" ui-sref='main.block-time-index'>
        Your Block Times
        <i class = "icon ion-ios-timer-outline"> </i>

      </div>
      <div class = "list" ng-repeat = "b in blocks">
        <div class = "item">
        {{b.name}}  From {{b.startT}} To {{b.endT}}
        </div>
      </div>
      <div class = "item item-icon-right"  ui-sref = "main.course-index">
        Selected classes
        <i class = "icon ion-ios-list-outline"> </i>
        <div class = "list" ng-repeat = "c in classes">
        <div class = "item">
        {{c.department}} {{c.course}}
        </div>
      </div>
      </div>
     </div>

    
    
     <button class = "button button-block button-generate button-dark" ng-click = "generate()"> Generate Schedule </button>
	</ion-content>
</ion-view>
