<ion-view title = "Generate Schedule" >

	<ion-content scroll = "false">


     <div class = "list">
      <div class = "item item-icon-right" ui-sref='main.block-time-index'>
        Your Block Times
        <i class = "icon ion-ios-timer-outline"> </i>

      </div>
      
      <div class = "item item-icon-right"  ng-click = "modal2.show()">
        Your Cart
        <i class = "icon ion-ios-list-outline"> </i>
       
      </div>
     </div>

    
    
     <button class = "button button-block button-dark" ng-click = "generate()"> Generate Schedule </button>
	</ion-content>
</ion-view>
