<ion-view title = "Block time preferences">
	<ion-content scroll='false'>
	<div class = "item item-divider">
			Block Time 
	</div>
	<div class = "list" ng-repeat = "b in blocks">
		
		<div class = "item item-avatar">
			<h2> {{b.name}} </h2>
			<p> From {{b.startT |date:'h:mm a'}} </p>
			<p> To {{b.endT |date:'h:mm a'}} </p>
			<p>{{b.days}}</p>
			
		</div>
		
	</div>
	</ion-content>

	<div class="float-button">
	  <span class="height-fix">
	    <a ui-sref="main.block-time" class="content">
	      <i class="ion-plus-round assertive"> </i>
	    </a>
	  </span>
	</div>
</ion-view>
