<ion-view title = "Add Block Time">

	<ion-nav-buttons side="right">
				<button ng-disabled = "!ready"class="button button-icon button-clear ion-checkmark" ng-click="saveBlock()">
				</button>
			</ion-nav-buttons>
	<ion-content scroll= 'false'>

	    <div class="list">

		    <button class="button button-assertive button-clear button-outline button-block" modal-select ng-model="block.name" options="optionList" modal-title="Select Block" ng-change = "setSemester(semester)">
		    {{block.name}}
		    <div class="option">
		        {{option}}
		    </div>
		    </button>



		   <label class="item item-input item-floating-label">
		   		<label class = "input label"> From </label>
		    	<input placeholder = "From" type='time' ng-model = 'block.startT'>

		    	</input>
		   </label>

		    <label class="item item-input item-floating-label">
		   		<label class = "input label"> To </label>
		    	<input placeholder = "To" type='time' ng-model = 'block.endT'>

		    	</input>
		   </label>

		</div>
	        <div class = "list">
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-value = "block.days" ng-model = "block.dayList.Mo">
		        	</label>
		        	Monday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Tu">
		        	</label>
		        	Tuesday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.We">
		        	</label>
		        	Wednesday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Th">
		        	</label>
		        	Thursday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Fr">
		        	</label>
		        	Friday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Sa">
		        	</label>
		        	Saturday
	        	</li>
	        	<li class = "item item-checkbox">
		        	<label class="checkbox">
		        	<input type="checkbox" ng-model = "block.dayList.Su">
		        	</label>
		        	Sunday
	        	</li>

	        </div>
	</ion-content>
</ion-view>
