
<ion-view title = "Your Block Time" >


	<ion-nav-buttons side="left">


				<button class="button button-icon button-clear ion-checkmark" ng-click="save()">
				</button>

	</ion-nav-buttons>

	<ion-nav-buttons side="right">

	
				<button class="button button-icon button-clear ion-compose" ng-click="enableEdit()">
				</button>

	</ion-nav-buttons>

	<ion-content scroll= 'false'>

	<div class = "list" ng-repeat = "b in blocks">
		
		<div class = "item item-icon-right">

		<i ng-show="edit" class="icon ion-trash-b" ng-click = "deleteBlock(b.id)"></i>
		 <ion-checkbox ng-checked = "b.checked" ng-model = 'b.checked'>

			<h2> {{b.name}} </h2>
			<p> From {{b.start_time |date:'hh:mm aa'}} 
				To {{b.end_time |date:'hh:mm aa'}} </p>
			<p> {{b.dates.toString()}}</p>
		 </ion-checkbox>
		</div>
		
	</div>
	</ion-content>

	<div class="float-button">
	  <span class="height-fix">
	    <a ui-sref="main.block-time-edit" class="content">
	      <i class="ion-plus-round assertive"> </i>
	    </a>
	  </span>
	</div>
</ion-view>
