
<ion-view title = "Block time preferences">


	<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-checkmark" ng-click="save()">
				</button>
	</ion-nav-buttons>
	<ion-content scroll= 'false'>
	<ion-content>
	<div class = "item item-divider">
		Your Block Time 
	</div>
	<div class = "list" ng-repeat = "b in blocks">
		
		<div class = "item">
		 <ion-checkbox ng-checked = "b.checked" ng-model = 'b.checked'>

			<h2> {{b.name}} </h2>
			<p> From {{b.startT |date:'h:mm a'}} 
				To {{b.endT |date:'h:mm a'}} </p>
			<p> {{b.days}}</p>
		 </ion-checkbox>
		</div>
		
	</div>
	</ion-content>

	<div class="float-button">
	  <span class="height-fix">
	    <a ui-sref="main.block-time-edit" class="content">
	      <i class="ion-plus-round assertive"> </i>
	    </a>
	  </span>
	</div>
</ion-view>
